Blend RCDATA "Blend.Style"
calypso_android RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\23.0\\Styles\\Android\\Calypso_Android.style"
calypso_win RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\23.0\\Styles\\Win\\Calypso_Win.style"
